@media all and (max-width: 1600px){
	.full-page-container{
		max-width: 1230px;
	}
	.all-reviews {
	    margin-left: -15px !important;
	}
	.header-menu-wrap {
	    right: 2.5%;
	}
	.banner-content h2 {
	    letter-spacing: 2px;
	}
	.banner-content h1 {
		letter-spacing: 1px;
		font-size: 56px;
	}
	.banner-content p {
		font-size: 17px;
		letter-spacing: 1px;
	}
	.banner-content ul {
		padding-top: 30px;
	}
	.banner-left {
		padding-left: 20px;
	}
	.circle {
		margin-right: 60px;
	}
	.sec-title h2 {
		font-size: 56px;
	}
	.personal-details ul li span {
		font-size: 16px;
	}
	.personal-details ul li span:first-child {
		min-width: 125px;
	}
	.personal-details p {
		font-size: 16px;
		line-height: 26px;
		padding: 25px 0;
	}
	.progress-bar {
		font-size: 12px;
		font-weight: 600;
	}
	.progress {
		height: 20px;
	}
	.skills strong {
		font-size: 14px;
		padding-bottom: 4px;
	}
	.about-left h4 {
		font-size: 12px;
	}
	.about-left h4::after {
		border: 17px solid transparent;
		border-right-color: #e4ebf5;
	}
	.progress-circle {
		margin: 0;
		transform: scale(0.8);
	}
	.about-right img {
		height: auto;
		width: 80%;
		border-bottom: 2px solid #ddd;
	}
	.progress-circle-container h5 {
		font-size: 16px;
	}
	.about-area {
		padding-bottom: 50px;
	}
	.single-service h3 {
		padding-bottom: 10px;
		font-size: 24px;
	}
	.single-service p {
		font-size: 15px;
		line-height: 24px;
	}
	.single-service {
		min-height: 260px;
		padding: 25px;
	}
	.single-service a {
		bottom: 15px;
	}
	.single-service:hover a {
		left: 25px;
	}
	.filter-btns label p {
		font-size: 16px;
		padding-top: 5px;
	}
	.filter-btns label {
		min-width: 200px;
	}
	.btn-control {
		width: 200px;
		height: 52.5px;
		border-radius: 10px;
	}
	.filter-btns {
		height: 60px;
		border-radius: 10px;
	}
	#tab2:checked ~ .btn-control {
		-webkit-transform: translateX(200px);
		    -ms-transform: translateX(200px);
		        transform: translateX(200px);
	}
	#tab3:checked ~ .btn-control {
		-webkit-transform: translateX(400px);
		    -ms-transform: translateX(400px);
		        transform: translateX(400px);
	}
	#tab4:checked ~ .btn-control {
		-webkit-transform: translateX(590px);
		    -ms-transform: translateX(590px);
		        transform: translateX(590px);
	}
	.single-review p {
		font-size: 15px;
		line-height: 24px;
		padding: 28px 15px;
	}
	.blog-details p {
		font-size: 14px;
		line-height: 24px;
		padding-bottom: 20px;
	}
	.faq-content .card-header button {
		font-size: 18px;
		padding: 16px;
	}
	.faq-content .card-body p {
		font-size: 14px;
		line-height: 24px;
	}
	.contact-right input,
	.contact-right textarea {
		font-size: 16px;
	}
	.single-widgets p {
		font-size: 14px;
		line-height: 24px;
		padding-top: 20px;
	}
	.single-widgets input[type="email"] {
		font-size: 16px;
	}
	.single-widgets button {
		font-size: 25px;
	}


}

@media all and (max-width: 1366px){
	.full-page-container{
		max-width: 1140px;
	}
	.banner-content h2 {
		letter-spacing: 2px;
		font-size: 18px;
		font-weight: 700;
	}
	.banner-content h1 {
		letter-spacing: 1px;
		font-size: 48px;
	}
	.banner-content p {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.banner-content ul li a {
		width: 40px;
		height: 40px;
		margin-right: 13px;
	}
	.banner-content ul li a i {
		font-size: 18px;
	}
	.circle__btn {
		width: 80px;
		height: 80px;
		font-size: 20px;
	}
	.circle__back-1, .circle__back-2 {
		width: 78px;
		height: 78px;
	}
	.sec-title h2 {
		font-size: 46px;
	}
	.personal-details p {
		font-size: 14px;
		line-height: 24px;
		padding: 10px 0 18px;
	}
	p {
		font-size: 14px !important;
		line-height: 22px !important;
	}
	.personal-details ul li span {
		font-size: 14px;
	}
	.personal-details ul li {
		padding-bottom: 4px;
	}
	.about-right img {
		height: auto;
	}
	.what-content ul li img {
		-webkit-transform: scale(0.8);
		    -ms-transform: scale(0.8);
		        transform: scale(0.8);
	}
	.all-service {
		padding-top: 30px;
		grid-gap: 20px;
	}
	.single-service h3 {
		font-size: 22px;
	}
	.all-service .single-service::after {
		font-size: 70px;
		right: 15px;
		line-height: 75px;
	}
	.single-service {
		padding: 25px 20px;
	}
	.counter-up-area {
		padding: 80px 0 10px;
	}
	.sec-title {
		padding-bottom: 20px;
	}
	.single-review p {
		line-height: 22px !important;
	}
	.single-review img {
		width: 55px;
		height: 55px;
	}
	.all-reviews {
		-ms-grid-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9%;
		grid-template-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9%;
		margin-left: 0 !important;
	}
	.testimonial-area {
		padding-bottom: 0;
	}
	.single-blog img {
		height: 260px;
	}
	.blog-details h2 a {
		font-size: 20px;
		margin: 4px 0 10px;
	}
	.btn-txt-wrap span {
		top: -23px;
	}
	.btn-txt-wrap {
		height: 16px;
		line-height: 16px;
		font-size: 12px;
	}
	.animated-btn {
		padding: 10px 18px;
	}
	.blog-details {
		padding: 15px 15px 15px 15px;
	}
	.blog-details ul li {
		font-size: 12px;
	}
	.blog-area .owl-dots button::after {
		font-size: 14px;
	}
	.blog-area .owl-dots button {
		width: 30px;
		height: 30px;
		margin: 0 5px;
	}
	.faq-content .card-header button {
		font-size: 16px;
		padding: 14px;
	}
	.card-header button::after {
		right: 12px;
		width: 19px;
		height: 17px;
	}
	.faq-content .card-body ul li {
		font-size: 14px;
		line-height: 22px;
	}
	.faq-area {
		padding: 50px 0 50px;
	}
	.contact-area {
		padding: 50px 0 0px;
	}
	.single-widgets h2 {
		font-size: 32px;
	}
	.single-widgets h3 {
		font-size: 13px;
	}
	.single-widgets h5 {
		font-size: 18px;
		padding-bottom: 5px;
	}
	.single-widgets h5::after {
		width: 45px;
	}
	.footer-content h4 {
		font-size: 16px;
		padding-bottom: 10px;
		margin-bottom: 16px;
	}
	.menu-list li a {
		font-size: 14px;
		margin-bottom: 8px;
	}
	.contact-right input {
		height: 50px;
		margin-bottom: 10px;
		padding: 0 15px;
		font-size: 14px;
	}
	.contact-right textarea {
		font-size: 14px;
		padding: 12px 15px;
		height: 150px;
	}
	.single-widgets input[type="email"] {
		height: 54px;
		font-size: 14px;
	}
	.single-widgets button {
		height: 54px;
		font-size: 20px;
	}
	.header-menu-wrap ul li a i {
		font-size: 18px;
	}
	.header-menu-wrap ul li a {
		width: 45px;
		height: 45px;
	}
	.header-menu-wrap {
		right: 2%;
	}
	.count-text-wrap {
		font-size: 70px;
		line-height: 70px;
	}
	.single-counter-up p {
		font-size: 16px !important;
		line-height: 16px !important;
	}

}
@media all and (max-width: 1300px){
	.header-menu-wrap {
		display: none;
	}
	.full-page-container {
		max-width: 95%;
	}
}
@media all and (max-width: 1200px){
	.personal-details ul li span:first-child {
		min-width: 100px;
	}
	.single-review p br {
		display: none;
	}
	.single-review {
		padding: 28px 15px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.single-review p {
		height: unset;
		padding: 0;
		padding-bottom: 10px;
	}
	.single-review img {
		position: unset;
		text-align: right;
		margin-left: auto;
	}
}
@media all and (max-width: 991px){
	.iframe-wrapper {
		width: 70%;
	}
	.banner-left {
		padding-left: 0;
	}
	.circle {
		margin-right: 24px;
	}
	.banner-content h1 {
		font-size: 36px;
	}
	.banner-content h2 {
		font-size: 14px;
	}
	.banner-content p {
		font-size: 12px !important;
	}
	.sec-title h2 {
		font-size: 36px;
	}
	.progress-circle {
		-webkit-transform: scale(0.8);
		    -ms-transform: scale(0.8);
		        transform: scale(0.8);
	}
	.progress-circle-container h5 {
		font-size: 12px;
		margin-top: -10px;
	}
	.personal-details ul li span {
		display: block;
	}
	.personal-details ul li {
		padding-bottom: 12px;
	}
	.about-area {
		padding-bottom: 10px;
	}
	.count-text-wrap span {
		font-weight: 800;
		-webkit-text-stroke: 2px;
	}
	.count-text-wrap {
		font-size: 46px;
		line-height: 50px;
	}
	.pro-catagory {
		-ms-grid-columns: (1fr)[3];
		grid-template-columns: repeat(3,1fr);
	}
	.btn-control {
		width: 150px;
		height: 41.5px;
	}
	.filter-btns {
		height: 48px;
		overflow: hidden;
	}
	.filter-btns label {
		min-width: 150px;
	}
	#tab2:checked ~ .btn-control {
		-webkit-transform: translateX(145px);
		    -ms-transform: translateX(145px);
		        transform: translateX(145px);
	}
	#tab3:checked ~ .btn-control {
		-webkit-transform: translateX(300px);
		    -ms-transform: translateX(300px);
		        transform: translateX(300px);
	}
	#tab4:checked ~ .btn-control {
		-webkit-transform: translateX(440px);
		    -ms-transform: translateX(440px);
		        transform: translateX(440px);
	}
	.portfolio-area {
		padding-bottom: 10px;
	}
	.blog-image a {
		width: 100%;
		height: 100%;
	}
	.faq-content {
		max-width: 80%;
	}
	.middle-item {
		padding-left: 00px;
	}
	.footer-content h4 {
		font-size: 14px;
	}
	.footer-content {
		-ms-grid-columns: 1fr 15px 1fr;
		grid-template-columns: repeat(2,1fr);
		grid-column-gap: 15px;
	}
	.single-widgets {
		margin-bottom: 30px;
	}
	.single-widgets:last-child {
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2/3;
	}
	.single-service a {
		opacity: 1;
		left: 20px;
	}
	.single-service:hover a {
		left: 20px;
	}
	.single-service {
		min-height: 330px;
	}
	.pro-catagory {
		padding-top: 20px;
	}
	.what-content ul li {
		height: 100px;
	}

}
@media all and (max-width: 768px){
	.full-page-container-wrap {
		padding: 16px 0;
	}
	.banner-content {
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		height: calc(100vh - 32px);
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
	.about-content {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
	.full-page-container {
		padding: 0 15px;
	}
	.about-right img {
		height: 450px;
		width: unset;
	}
	.banner-right {
		position: absolute;
		top: 816px;
		left: 83px;
	}
	.banner-left {
		padding-left: 15px;
		width: 100%;
	}
	.all-service {
		padding-top: 30px;
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 15px;
	}
	.single-service {
		min-height: auto;
		padding-bottom: 90px;
	}
	.single-counter-up {
		padding: 0;
	}
	.all-counter-up {
		-ms-grid-columns: 1fr 15px 1fr;
		grid-template-columns: repeat(2,1fr);
		grid-gap: 15px;
		padding: 25px 0;
	}
	.portfolio-content .text-center {
		overflow: hidden;
		overflow-x: scroll;
		padding: 20px 10px;
	}
	.filter-btns {
		min-width: 600px;
		background: #e4ebf5;
		margin-right: 20px;
	}
	.sec-title h2 {
		padding: 0;
	}
	.all-reviews {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.all-reviews li:nth-child(2n) img {
		margin-left: unset;
	}
	.blog-area .owl-dots {
		margin-top: 0;
	}
	.faq-content {
		max-width: 100%;
	}
	.contact-content {
		-ms-grid-columns: (1fr)[1];
		grid-template-columns: repeat(1, 1fr);
	}
	.footer-content {
		-ms-grid-columns: (1fr)[1];
		grid-template-columns: repeat(1,1fr);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.portfolio-content {
		position: relative;
		padding-top: 18px;
	}
	.portfolio-content::before {
		content: "\f178";
		font-family: 'FontAwesome';
		position: absolute;
		right: 0;
		top: 0;
		font-size: 20px;
	}
}
@media all and (max-width: 575px){
	.about-right {
		border-bottom: 3px solid var(--blue);
	}
	.about-right img{
		border-bottom: none;
	}
	.iframe-wrapper {
		width: 88%;
		height: 50%;
	}
	.close-video {
		width: 30px;
		height: 30px;
	}
	.banner-left {
		padding-left: 0;
	}
	.banner-content h1 {
		font-size: 34px;
		line-height: 36px;
		padding: 10px 0;
	}
	.banner-content p {
		line-height: 18px !important;
	}
	.banner-content ul li a {
		width: 35px;
		height: 35px;
		margin-right: 10px;
	}
	.banner-content ul li a i {
		font-size: 16px;
	}
	.about-right img {
		height: 380px;
	}
	.banner-right {
		top: 730px;
		left: 45px;
	}
	.about-left h4 {
		padding: 7px 36px 7px 10px;
		font-size: 10px;
	}
	.about-left h4::after {
		border: 13px solid transparent;
		border-right-color: #e4ebf5;
	}
	.skills {
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(1,1fr);
		grid-gap: 10px;
	}
	.skills strong {
		font-size: 12px;
	}
	.progress-bar {
		font-size: 10px;
	}
	.progress {
		height: 16px;
	}
	.language-skills {
		-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2,1fr);
	}
	.pro-catagory {
		-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2,1fr);
	}
	.single-blog {
		margin: 0 10px;
	}
	.contact-left {
		margin: 0 -24px;
	}
	.blog-details ul li {
		font-size: 10px;
	}
	.blog-details ul li i {
		padding-right: 5px;
		font-size: 14px;
	}
	.sec-title h2 {
		font-size: 28px;
	}

}
@media all and (max-width: 400px){
	.about-right {
		overflow: hidden;
	}
	.about-right img {
		margin-right: -33px;
	}
	p {
		font-size: 12px !important;
		line-height: 18px !important;
	}
	.single-service {
		padding: 18px 15px;
		padding-bottom: 90px;
	}
	.single-service h3 {
		font-size: 18px;
		padding-bottom: 5px;
	}
	.single-review p {
		line-height: 18px !important;
	}
	.single-review {
		padding: 15px 15px;
	}
	.name-mail {
		grid-gap: 0;
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(1, 1fr);
	}
}
@media all and (max-width: 350px){
	.blog-details ul li i {
		display: none;
	}
	.faq-content .card-header button {
		font-size: 14px;
		padding: 10px;
		padding-right: 34px;
	}
}